%h1
  Input your name
= simple_form_for :search_names, { url: search_names_path, method: :get, remote: true } do |f|
  = f.input :name, :url => autocomplete_name_name_names_path, :as => :autocomplete, label: false
  = f.button :submit, 'toNihongo'

#name