%h1.title
  Input your name
= simple_form_for :search_names, { url: search_names_path, method: :get, remote: true, html: { class: 'jic-form'} } do |f|
  = f.input :name, :url => autocomplete_name_name_names_path, :as => :autocomplete, label: false
  = f.button :submit, 'Japanize!', class: 'jic-button'

.result

#name